if source cache file is zero, axel can not download

If source cache file size is zero, axel can not download

@ismaell @linzx0403 i cannot understand what "source cache file size" means . Is it the value of `Content-Length` header ? if it is, according to [RFC 7230 section 3.3.2: Content-Length](https://tools.ietf.org/html/rfc7230#section-3.3.2) the value cannot be `0`

@shankar It refers to the state file AFAICT.

There's several issues stemming from that code. It should be restructured to do at least basic integrity checks.

It's impossible to recover the download if the state file is broken, though, so FEC would be a good idea too.